

.body{
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1px;
    background-color: white;
    padding: 10px;
}

.container{
    border-style: solid;
    border-radius: 25px;
    display: grid;
    padding: 6;
    background: 100px solid black;
}


.row{
    display:flex;
    flex-wrap: wrap;
    text-align:center;
    padding: 12;
}

.first{
    border-radius: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 150px;
    font-size: 25px;
    font-family: "Comic Sans MS";
    background-color: rgba(255, 134, 38, .5)
    
}

.second{
    flex: 2;
    border-radius: 25px;
    background-color:rgba(111, 199, 237, .5);
    line-height: 150px;
    font-size: 25px;
    font-family: "Comic Sans MS";
    padding: 15px;
}

.third{
    flex: 1;
    
}

.fourth{
    flex: 1;
    border-radius: 25px;
    text-align: center;
    background-color: rgba(255, 102, 104, .5);
    line-height: 150px;
    font-size: 25px;

    font-family: "Comic Sans MS";
}

.fifth{
    border-radius: 25px;
    background-color: rgba(127, 167, 109, .5);
    text-align: center;
    line-height: 150px;
    font-size: 25px;
    font-family: "Comic Sans MS";
}
